@import "./reset.css";

@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600;700&display=swap');

body {
    font-family: 'Poppins', sans-serif;
    color: #000000;
    font-size: 14px;
}

.container {
  max-width: 1230px;  
  padding: 0 30px;
  margin: 0 auto;
}

.title-1 {
    font-size: 34px;
    font-weight: 600;
}

.btn {
    display: inline-block;
    background-color: #070707;
    padding: 7px 22px;
    border-radius: 30px;
    color: #fff;
    font-size: 18px;

    transition: top 0.2s ease-in;  
}

.btn:hover {
    background-color: #383838;
}

.btn:active {
    position: relative;
    top: 1px;
}

/* Header */

.header {
    background-color: #F1F1F1;
    padding-top: 46px;
}

.header-nav {
    display: flex;
    justify-content: space-between;
    align-items: flex-end;
    margin-bottom: 76px;
}

.logo {
    font-size: 32px;
    font-weight: 700;
    color: #000000;
    padding: 0 12px 3px 0;
    position: relative;
    line-height: 1;
    }

.logo::after {
    content: "";
    display: block;
    width: 8px;
    height: 8px;
    background-color: #FDA300;
    border-radius: 50%;
    position: absolute;
    right: 0;
    bottom: 0;
}

/* NAV */

.nav-list {
    display: flex;
    column-gap: 50px;
    font-size: 14px;
    font-weight: 500;
}

.nav-button {
    display: none;
}

.nav-link {
    color: #000000;
}

.nav-link.active {
    color: #606060;
}

/* Header content */

.header-row {
    display: flex;
    justify-content: space-between;
    column-gap: 30px;
}

.header-content {
    max-width: 500px;
    margin-top: 124px;
}

.header-heading {
    font-size: 44px;
    font-weight: 600;
    margin-bottom: 20px;
}

.header-content p {
    line-height: 2;
}

/* Service */

.services {
padding: 90px 0;
}

.services-row {
display: flex;
column-gap: 30px;
row-gap: 60px;
flex-wrap: wrap;
}

.service-card {
    flex: 1 1 0;
    min-width: 315px;
}

.service-card-img {
margin-bottom: 30px;
}

.service-card-title {
font-weight: 600;
font-size: 24px;
margin-bottom: 10px;
text-transform: uppercase;
}

.service-card p {
    line-height: 2;
}

/* Portfolio */

.portfolio {
    background-color: #f1f1f1;
    padding: 90px 0;
}

.portfolio-title {
    text-align: center;
    margin-bottom: 70px;
}

.project {
    text-align: center;
}

.project + .project {
    margin-top: 90px;
}

.project-img {
    margin-bottom: 40px;
}

.project-title {
    font-size: 18px;

}

.project-title a {
    color: #000000;
    text-decoration: underline;
}

/* Footer */

.contacts {
    padding: 90px 0;
    text-align: center;
}

.contacts-title {
    margin-bottom: 40px;
}

.contacts-content {
    max-width: 480px;   
    font-size: 18px;
    margin: 0 auto 40px;
}

.contacts-content p + p {
    margin-top: 1em;
}

.contacts-button {
    margin-bottom: 80px;
}

.contact-social {
    display: flex;
    justify-content: center;
    column-gap: 60px;
    align-items: center;
    margin-bottom: 40px;
}

.contact-footer {
    color: #828282;
}